
.change-name-container-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.change-name-label-input {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}


.change-name-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}


.change-name-input-button-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}



.change-name-save-button-input {
  background-color:#1b79c6 !important;
  color: #fafbfc;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  text-transform: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.change-name-save-button-input:hover {
    background-color: #42a5f5 !important;
}

.change-name-exit-button-input {
    background-color:#9c1414 !important;
    color: #fafbfc;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    text-transform: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.change-name-exit-button-input:hover {
    background-color: #ab3030de !important;
}




