@import 'flowbite';

.details-h2 {
  margin :20px; /* Añade un espacio entre el título y el contenedor */
  text-align: center; /* Centra el título */
  font-family: "Trebuchet MS";
  font-size: 50px;
}


.details-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido verticalmente */
  margin-top: 20px; /* Separa el contenedor del título */
  background-color: rgb(255, 255, 255);
  padding: 2%;
  margin-inline: 11%;
  margin-block: 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.details-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: #c5c5c53c;
  border-radius: 10px;
  width: 50%;
}

.details-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-aside label {
  font-size: 1.1em; /* Tamaño más grande para las etiquetas */
  color: #333; /* Color del texto */
  margin-bottom: 10px;
  font-family: "Trebuchet MS";
}

.details-aside select {
  height: 40px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 1em;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.details-aside select:hover {
  border-color: #888; /* Cambia el color del borde al pasar el mouse */
}

.details-aside select:focus {
  border-color: #555; /* Color del borde cuando está enfocado */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar el foco */
}

.details-aside select option {
  padding: 10px;
  margin-bottom: 40px; 
}

.button-container-details {
  margin-top: 120px;
  display: flex; 
  justify-content: space-between; 
  width: 100%;
}

.custom-button {

  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;

}

.d-button {
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: 0.3s ease;
  margin-top: 20px;
  
}

.custom-button:hover {
  transform: scale(1.25);
}

.d-button:hover {
  transform: scale(1.25);
}


.image-radio-group{
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  background-color: #fcfcfd96;
  border-radius: 10px;
}
.image-radio-group-color{
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  background-color: #fcfcfd96;
  
  border-radius: 10px;
}

.button-icon-details{
  width: 50px;
}
