/* General Styles */
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.nav-bar {
    background-color: #333;
    overflow: hidden;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    width: 35%; /* Ancho máximo ajustado para centrar */
    height: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrado del contenido */
}

.checkout-button:hover {
    background-color: #219150;
}

.carrito-icono, .home-icono {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carrito-icono {
    right: 28px;
    top: 18px;
    width: 30px;
    height: 30px;
}

.carrito-icono:hover {
    transform: scale(1.4);
}

.home-icono {
    left: 28px;
    top: 14px;
    width: 35px;
    height: 35px;
}

.home-icono:hover {
    transform: scale(1.4);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    column-gap: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-section {
    padding: 0 10px;
}

.footer-section:first-child {
    text-align: left;
}

.footer-section:nth-child(2) {
    text-align: left;
}

.footer-section:last-child {
    text-align: left;
}

.footer-section h2 {
    color: #c10505ea;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section form {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media a {
    display: inline-block;
    margin: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.social-icon:hover {
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #c10505ea;
}

.login-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los campos y el botón */
    align-items: center;
}

.login-container input {
    padding: 10px;
    width: calc(70% - 20px); /* Ajustado para tener en cuenta el padding del contenedor */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container input:focus {
    border-color: #a90303;
    box-shadow: 0 0 5px rgba(193, 5, 5, 0.2);
    outline: none;
}

.login-container button {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 4px;
    background-color: #a90303;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #c10505;
}

.password-wrapper {
    width: 100%; /* Igual al input de usuario */
    position: relative;
    padding: 0; /* Elimina cualquier padding adicional */
    margin: 0; /* Elimina cualquier margen adicional */
}

/* Ajusta el input de contraseña para que coincida */
#password {
    right: 50px;
}

/* Ajusta el tamaño y posición del icono de ver contraseña */
.toggle-password {
    position: absolute;
    right: 18%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 10;
}
.sign-up-link {
    color: #780404e7;
    text-decoration:solid;
}

.sign-up-link:hover {
    color: #ed0606f5;
    text-decoration:solid;
}

.profile-icono {
    position: absolute;
    right: 90px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-icono:hover {
    transform: scale(1.4);
}

/* Estilos para el menú desplegable */
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f96e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; 
    border-radius: 8px;
    margin-right: 30px;
    padding: 0; /* Asegúrate de que no haya padding extra en el contenedor */
}

#dropdown-content a {
    color: black;
    padding: 10px 14px; /* Ajusta el padding para adaptarse al tamaño de letra más pequeño */
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: left;
    
}

#dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 8px; /* Mantén los bordes redondeados en el hover */
}

#dropdown-content a:first-child:hover {
    background-color: #c1050575; /* Color de hover diferente para el primer enlace */
}

#profile-username {
    color: black;
    padding-top:5px; /* Igual que los enlaces */
    text-decoration: none;
    font-size: 14px; /* Misma fuente que los enlaces */
    text-align: left;
    margin: 0; /* Asegúrate de que no haya márgenes extra */
    font-weight: normal; /* Ajusta el peso de la fuente */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}