body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.nav-bar {
    background-color: #333;
    overflow: hidden;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    background-color: #575757;
}

header img {
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; /* Aumenta el espacio entre las cartas */
    padding: 20px;
    max-width: calc(240px * 5 + 30px * 4); /* Ajusta el ancho para centrado perfecto */
    margin: 0 auto; /* Asegura que el contenedor esté centrado horizontalmente */
    justify-content: center; /* Asegura que las cartas se alineen en el centro */
    justify-items: center;
}

.cami-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 240px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.cami-card img {
    width: 100%;
    max-width: 220px;
    height: 250px; /* Tamaño fijo para la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el área designada */
    border-radius: 10px;
    margin-bottom: 10px;
}

.cami-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.cami-card p {
    margin: 5px 0;
    color: #555;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10;
}

.arrow.left {
    left: 5px;
}

.arrow.right {
    right: 5px;
}

/* Add to Cart Button */
.add-to-cart-button {
    background-color: #049f28;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    align-self: center;
}

.add-to-cart-button:hover {
    background-color: #8fefa4;
}

/* Icono del Carrito */
.carrito-icono {
    position: absolute;
    right: 28px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carrito-icono:hover {
    transform: scale(1.4);
}



.home-icono {
    position: absolute;
    left: 28px;
    top: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home-icono:hover {
    transform: scale(1.4);
}

/* Search Container */
.search-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #0c01018c;
    width: 300px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #c80808bc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.search-container button:focus{
    outline: none;
    box-shadow: 0 0 0 2px #000000;
}

.search-container input:focus {
    border: 2px solid #c10505ea;
    outline: none;
}

.search-container button:hover {
    background-color: #ff0101d2;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no añada un margen extra */
    margin-top: 10px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr; 
    column-gap: 400px; /* Divide el espacio en tres columnas iguales */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: 0; /* Elimina cualquier margen horizontal */
    padding: 0; /* Elimina cualquier padding */
}

.footer-section {
    padding: 0 10px; /* Ajusta el padding para evitar demasiado espacio entre secciones */
}

.footer-section:first-child {
    text-align: left; /* Alinea "Sobre Nosotros" a la izquierda */
}

.footer-section:nth-child(2) {
    text-align: left; /* Centra "Enlaces Útiles" */
}

.footer-section:last-child {
    text-align: left; /* Alinea "Síguenos" a la derecha */
}

.footer-section h2 {
    color:#c10505ea;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section form {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media a {
    display: inline-block;
    margin:10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.social-icon:hover{
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color:#c10505ea;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px; /* Espacio consistente entre los botones */
}

.pagination-button {
    border: none;
    background-color: #4f575fbb; 
    color: #fff9f9; 
    padding: 6px 11px; /* Reduce el padding para hacer los botones más pequeños */
    cursor: pointer;
    font-size: 14px; /* Reduce el tamaño de la fuente */
    border-radius: 3px; /* Bordes ligeramente redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

.pagination-button.active {
    background-color:#c10505ea ; /* Azul para el botón activo */
    color: white; /* Texto blanco en el botón activo */
}

.pagination-button:hover {
    background-color: #ff0101d2; /* Cambio sutil de color al pasar el cursor */
}

.pagination-button:focus {
    outline: none; /* Elimina el borde de enfoque predeterminado */
    box-shadow: 0 0 0 2px #000000; /* Indica foco con una sombra sutil */
}

.pagination-button:disabled {
    background-color: #f0f0f0; /* Color diferente para botones deshabilitados */
    color: #999; /* Texto gris para indicar deshabilitación */
    cursor: not-allowed; /* Cursor no permitido */
}


/* Estilos para el paginador de productos destacados */
#featured-pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

/* Estilos para el paginador de productos con descuento */
#discounted-pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

/* Botones de paginación para los paginadores extras */
#featured-pagination-container .pagination-button,
#discounted-pagination-container .pagination-button {
    border: none;
    background-color: #4f575fbb;
    color: #fff9f9;
    padding: 6px 11px; /* Reduce el padding para hacer los botones más pequeños */
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#featured-pagination-container .pagination-button.active,
#discounted-pagination-container .pagination-button.active {
    background-color: #c10505ea;
    color: white;
}

#featured-pagination-container .pagination-button:hover,
#discounted-pagination-container .pagination-button:hover {
    background-color: #ff0101d2;
}

#featured-pagination-container .pagination-button:focus,
#discounted-pagination-container .pagination-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #000000;
}

#featured-pagination-container .pagination-button:disabled,
#discounted-pagination-container .pagination-button:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
}
.original-price.no-discount {
    color: #000000; /* Color normal para el precio sin descuento */
    font-size: 20px;
    text-decoration: none; /* No tachado */
}
/* Estilo para el precio original con descuento */
.original-price.with-discount {
    color: #821111; /* Color diferente para el precio con descuento */
    font-size: 16px;
    text-decoration: line-through; /* Tachado si tiene descuento */
}
.discounted-price { 
    color: #000000 !important;
    font-size: 20px;
}

.discount-label {
    background-color: #c10505c4; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 50%; /* Hacerla redonda */
    position: absolute; /* Posicionamiento absoluto para moverla a la parte superior derecha */
    top: 10px; /* Espaciado desde la parte superior */
    right: 10px; /* Espaciado desde la parte derecha */
    font-size: 14px; /* Tamaño del texto */
    font-weight: bold; /* Hacer el texto más grueso */
    text-align: center; /* Alineación del texto */
    width: 40px; /* Ancho fijo para que sea circular */
    height: 40px; /* Altura fija para que sea circular */
    display: flex; /* Para centrar el texto verticalmente */
    align-items: center; /* Para centrar el texto verticalmente */
    justify-content: center; /* Para centrar el texto horizontalmente */
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
}

.profile-icono {
    position: absolute;
    right: 90px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-icono:hover {
    transform: scale(1.4);
}

/* Estilos para el menú desplegable */
#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f96e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; 
    border-radius: 8px;
    margin-right: 30px;
    padding: 0; /* Asegúrate de que no haya padding extra en el contenedor */
}

#dropdown-content a {
    color: black;
    padding: 10px 14px; /* Ajusta el padding para adaptarse al tamaño de letra más pequeño */
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: left;
    
}

#dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 8px; /* Mantén los bordes redondeados en el hover */
}

#dropdown-content a:first-child:hover {
    background-color: #c1050575; /* Color de hover diferente para el primer enlace */
}

#profile-username {
    color: black;
    padding-top:5px; /* Igual que los enlaces */
    text-decoration: none;
    font-size: 14px; /* Misma fuente que los enlaces */
    text-align: left;
    margin: 0; /* Asegúrate de que no haya márgenes extra */
    font-weight: normal; /* Ajusta el peso de la fuente */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}



