.custom-card-cart {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-title {
    font-size: 18px;
    font-family: 'Trebuchet MS';
    color: #333;
    margin-top: 8px;
    text-align: center;
    display: block;
  }
  
  .card-type {
    font-size: 14px;
    color: #666;
    text-align: center;
  }

  .custom-modal {
    z-index: 800 !important;
  }
  