/* Contenedor de las tarjetas */

html, body {
  height: 100%;
  margin: 0;

}

.my-design-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 2em;
}

.cart-items-my-designs {
  background-color: #f2e0c679;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  gap: 20px;
  padding: 20px;
}

.my-products-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  height: 20%;
}
/* Imagen de la tarjeta */
.cart-item-image {
  height: 200px; /* Fijamos una altura para las imágenes */
  overflow: hidden;
}

.cart-item-image img {
  width: 100%; /* La imagen ocupa todo el ancho disponible */
  height: 100%; /* La imagen se ajusta a la altura del contenedor */
  object-fit: contain; /* Evita que la imagen se recorte */
}

/* Detalles de la tarjeta */
.cart-item-details {
  padding: 10px;
}

.cart-item-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.cart-item-details-h1 {
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: 50px;
  font-family: "Trebuchet MS";
}
.modal.second-modal {
  z-index: 1200; 
}

.cards-container-my-designs {
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em; /* Espacio entre cartas en em */
  margin-top: 2em;
  width: 80%;
  max-width: 80vw; /* También usa vw aquí para más responsividad */
  margin-bottom: 5%;
  background-color: #efeee179;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid #fefefe;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cards-container-my-designs-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}


.h2-my-designs-input-image{
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS";
}
